body {
    font-family: Arial;
    box-sizing: border-box;
}

header {
    background: radial-gradient(darkred, orange);
}

#rahmen {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: -webkit-row;
    flex-direction: -ms-row;
    flex-direction: row;
    border: none;
}

main {
    overflow: auto;
    flex: 2 1 600px;
    border: solid gray 1px;
    padding: 0 0 0 20px;
}

h1 {
    text-align: center;
    color: white;
    font-family: Times;
    padding: 20px 0 0 0;
}

nav {
    flex: 0 0 180px;
    padding: 10px;
    border: solid gray 1px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 10px;
    padding: 10px;
}

nav ul li a {
    padding: 5px;
    margin: 5px;
    background: darkred;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
    color: white;
}

a.active {
    background: orange;
    border: solid darkorange 1px;
}

ul {
    overflow: auto;
    list-style: none;
    padding: 0px 20px 20px 20px;
}

p {
    padding: 10px;
    margin: 10px;
}

#team {
    float: left;
    padding: 0px 10px 10px 0px;
    width: 60%;
    min-width: 180px;
    height: auto;
}

iframe.map {
    width: 100%;
    height: auto;
}

div.innen {
    float: left;
    padding: 0 5% 0 5%;
    margin: 20px;
}

ul.list {
    overflow: auto;
    list-style: none;
    padding: 0px 10px 10px 0px;
}

span {
    font-weight: bold;
}

#tabellenformat {
    padding: 0 20% 0 20%;
}

#tabellenformat thead {
    background-color: darkred;
    color: white;
}

#tabellenformat thead tr th {
    padding: 5px;
}

#tabellenformat tbody {
    background-color: hsl(39, 100%, 50%);
}

#tabellenformat tbody td {
    padding: 5px;
}

#Terminvereinbarung {
    padding: 2% 20% 0 20%;
}

blockquote {
    font-weight: inherit;
    font-style: italic;
    text-align: right;
}

#form2{
    display:none;
}

aside {
    flex: 1 1 410px;
    overflow: auto;
    text-align: justify;
    border: 1px solid black;
}

footer {
    padding: 0;
    background: lightgrey;
}
