/*Bereich zwischen header und footer*/
#rahmen {
    flex-direction: column;
}

nav {
    order: 1;
    float: left;
}

main {
    flex: 0 0;
    padding: 20px;
    order: 3;
}

aside {
    flex: 0 0;
    order: 2;
}

footer {
    position: relative;
    margin-top: 10px;
}