#rahmen {
    flex-direction: -webkit-column; /*Warnung lt. w3 Validator*/
    flex-direction: -ms-column; /*Warnung lt. w3 Validator*/
    flex-direction: column;
}

nav {
    order: 1;
    float: left;
}

main {
    flex: 0 0;
    padding: 10px;
    order: 3;
}

aside {
    flex: 0 0;
    order: 2;
}